<div class="container">
  <div class="row">
    <div class="col-md-12">
      <img src="/assets/img/burger.png" alt="burger" class="img-responsive center-block">
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <h1 class="text-center text-light">Eat Da Burger</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md-5">
      <ul>
        {{#each burgers}}
        {{#unless devoured}}
        <form>
          <div class="input-group">
            <li class="form-control">
              {{id}}.
              {{burger_type}}
            </li>
            <span class="input-group-btn">
              <button class="devour btn btn-secondary" data-id="{{id}}">Devour it!</button>
            </span>
          </div>
        </form>
        {{/unless}}
        {{/each}}
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 text-center">
      <form id="add-burger">
        <div class="form-group">
          <textarea id="burger" name="burger" rows="5" cols="40"></textarea>
        </div>
        <button class="btn btn-primary" type="submit" id="submit-btn">Submit</button>
      </form>
      <p class="h4"> Enter a burger you want to eat and click the "Submit" button</p>
    </div>
  </div>
</div>